.content {
min-height: calc(100vh - 121px);
margin-top: 56px;
}

.alert-success {
--bs-alert-color: #146c43;
--bs-alert-bg: #d1e7dd;
--bs-alert-border-color: #a3cfbb;
--bs-alert-link-color: #146c43;
}
.alert-error {
--bs-alert-color: #b02a37;
--bs-alert-bg: #f8d7da;
--bs-alert-border-color: #f1aeb5;
--bs-alert-link-color: #b02a37;
}
#div_id_products > div, #div_id_employee > div {
     max-height: 125px;
     overflow: scroll;
}
.form-check.product-checkbox {
    margin-left: 25px;
}
form.lg-fields input.form-control {
    height: 4rem;
    font-size: 2rem;
}
form.lg-fields label {
    font-size: 1.5rem;
}
table .weekend {
    background-color: yellow;
}
table .custom-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 100%;
    background: none;
}
table .custom-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}
table .red-btn {
    background-color: lightcoral;
}
table .green-btn {
    background-color: lightgreen;
}