{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Страница администратора</li>
  </ol>
</nav>
    <h1>{{ title }}</h1>
<div class="d-grid gap-2 col-sm-12 col-lg-4">
    <a href="{% url 'employees_catalog' %}" class="btn btn-primary">Текущие сотрудники</a>
    <a href="{% url 'report' %}" class="btn btn-primary">Вывести отчет за период по сотрудникам</a>
    <a href="{% url 'products_catalog' %}" class="btn btn-primary">Редактировать номенклатуру</a>
    <a href="{% url 'acceptance_list' %}" class="btn btn-primary">Редактировать данные внесенные ранее</a>
    <a href="{% url 'rating' %}" class="btn btn-primary">Рейтинг</a>
<!--    <a href="" class="btn btn-primary">Настройка автовыгрузки</a>-->
</div>


{% endblock %}