{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <h1>Bonkombinezon - Home page</h1>
{% if not request.user.is_superuser %}
<a href="{% url 'add_acceptance' %}" class="btn btn-primary btn-lg">Принять изделие</a>
{% else %}
<a href="{% url 'add_acceptance' %}" class="btn btn-primary">Принять изделие</a>
{% endif %}

{% if results %}
<table class="table table-success table-striped my-5">
    <tr>
        {% for cell in head_row %}
        <th>{{cell}}</th>
        {% endfor %}
    </tr>
    {% for result in results %}
    <tr>
        {% for cell in result %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Приемок сегодня еще не было</p>
{% endif %}



{% if not request.user.is_superuser %}
<a href="{% url 'home' %}" class="btn btn-primary disabled">Администратор</a>
{% else %}
<a href="{% url 'admin_page' %}" class="btn btn-primary">Администратор</a>
{% endif %}

{% endblock %}
