{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <h1>Bonkombinezon - Home page</h1>
<p>Hi, {{ request.user.username }}</p>
<a href="{% url 'add_acceptance' %}" class="btn btn-primary">Принять изделие</a>


<table class="table table-success table-striped">
    <tr>
        {% for cell in head_row %}
        <th>{{cell}}</th>
        {% endfor %}
    </tr>
    {% for result in results %}
    <tr>
        {% for cell in result %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>





<a href="{% url 'admin_page' %}" class="btn btn-primary">Администратор</a>


{% endblock %}
