{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{% url 'admin_page' %}">Страница администратора</a></li>
    <li class="breadcrumb-item active" aria-current="page">Отчет за период (Ведомость)</li>
  </ol>
</nav>
    <h1>{{ title }}</h1>
<form method="post">
      {% csrf_token %}
    {{ form.employee|as_crispy_field }}
    <div class="my-3">
        <span>
            <button onclick="disableAll('employee')" type="button" class="btn btn-link">Снять все</button>
        </span>
        <span>
            <button onclick="enableAll('employee')" type="button" class="btn btn-link">Выделить все</button>
        </span>
    </div>

    {{ form.start_date|as_crispy_field }}
    {{ form.end_date|as_crispy_field }}
    {{ form.products|as_crispy_field }}
    <script>
      $(function () {
        $(".datetimepicker").datetimepicker({
          format: 'd.m.Y',
            timepicker: false,
            scrollMonth : false,
            scrollDay: false,
            scrollYear: false,
            scrollInput : false
        });
        $.datetimepicker.setLocale('ru');
      });
    </script>

    <div class="my-3">
        <span>
            <button onclick="disableAll('products')" type="button" class="btn btn-link">Снять все</button>
        </span>
        <span>
            <button onclick="enableAll('products')" type="button" class="btn btn-link">Выделить все</button>
        </span>
    </div>


    <script>
        function disableAll(elementClass) {
            const checkboxes = document.getElementsByName(elementClass)
            checkboxes.forEach(function(checkbox) {
                    checkbox.checked = false
                }
            )
        }
        function enableAll(elementClass) {
            const checkboxes = document.getElementsByName(elementClass)
            checkboxes.forEach(function(checkbox) {
                    checkbox.checked = true
                }
            )
        }
    </script>
    <script>
        const productsField = document.querySelectorAll('#div_id_products > div .form-check')
        productsField.forEach(function(elem) {
            if (elem.children[0].value.includes('category')) {
                elem.classList.add('product-category-checkbox')
                elem.querySelector('input').classList.add('form-check-input-category')
            } else {
                elem.classList.add('product-checkbox')
                elem.querySelector('input').classList.add('form-check-input-product')
            }
        })

        const categoryCheckboxes = document.querySelectorAll('.product-category-checkbox')
        console.log('CATEGORY CHECKBOXES')
        console.log(categoryCheckboxes)
        console.log(categoryCheckboxes[0].querySelector('input').className.includes('form-check-input-category'))

        categoryCheckboxes.forEach(function(elem) {
            elem.addEventListener('click', () => {
                console.log('Click on')
                console.log(elem.querySelector('input').value)
                const category_input = elem.querySelector('input')
                const all_checkboxes = document.querySelectorAll('#div_id_products > div .form-check input')
                if (!category_input.checked) {
                    console.log('Now disabled')
                } else {
                    console.log('Now enabled')
                }
                let change_status = false
                let checkbox_status;
                all_checkboxes.forEach(function(checkbox) {
                    if (checkbox.className.includes('form-check-input-category') && checkbox.value !== category_input.value) {
                            change_status = false
                        }
                    if (checkbox.value === category_input.value) {
                        checkbox_status = checkbox.checked
                        change_status = true
                    }
                    if (change_status) {
                        checkbox.checked = checkbox_status
                    }
                })

            })
        })
    </script>
    {% comment %}
    <div id="div_id_products" class="mb-3">
        <label class="form-label">
            Товары
        </label>
        <div>
            {% for item in form.products %}
            <div class="form-check">
                {{item}}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endcomment %}



    <button type="submit" class="btn btn-primary">Фильтр</button>
</form>
<table class="table table-success table-striped my-5">
    <tr>
        {% for cell in head_row %}
        <th>{{ cell }}</th>
        {% endfor %}
    </tr>
    {% for result in results %}
    <tr>
        {% for cell in result%}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for cell in final_row %}
        <td>{{ cell }}</td>
        {% endfor %}
    </tr>
</table>

<div class="d-grid gap-2 col-sm-12 col-lg-4">
    <a type=button value="Previous Page" onClick="javascript:history.go(-1);" class="btn btn-primary">Назад</a>
    <a href="{% url 'download_report' %}?{{ request.GET.urlencode }}" class="btn btn-primary">Выгрузить XLSX</a>
</div>

{% endblock %}